<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.molarity.molarity" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DB.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".mass.MassActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_mass" >
        </activity>
        <activity
            android:name=".volume.VolumeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_volume" >
        </activity>
        <activity
            android:name=".molarity.MolarityActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_molarity" >
        </activity>
        <activity
            android:name=".dilute.DiluteActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dilute" >
        </activity>
        <activity
            android:name=".moreapp.MoreappActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_moreapp" >
        </activity>
    </application>

</manifest>
